/* AUTOPREFIXER */
/* https://autoprefixer.github.io/ */

html, body {
  height: 100%;
}

* {
  /* font-family: 'Teko', sans-serif;
font-family: 'Alegreya', serif; */
font-family: 'Averia Sans Libre', cursive;

}

.center {
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}

input {
  margin: 0 auto;
}

#myButton {
  margin-left: 40%;
}

#comment {
  display: block;
  margin-bottom: 10px;
}
